.layout__frame {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  clip-path: polygon(
    0 0,
    calc(100% - 2rem) 0,
    100% 2rem,
    100% 100%,
    2rem 100%,
    0 calc(100% - 2rem)
  );
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.layout__frame::after {
  position: absolute;
  z-index: 100;
  content: '';
  inset: 0;
  background: var(--color-layout-frame);
  clip-path: polygon(
    0 0,
    calc(100% - 2rem) 0,
    100% 2rem,
    100% 100%,
    2rem 100%,
    0 calc(100% - 2rem),
    0 0,
    0.25rem 0.25rem,
    0.25rem calc(100% - 2rem - 0.1rem),
    calc(2rem + 0.1rem) calc(100% - 0.25rem),
    calc(100% - 0.25rem) calc(100% - 0.25rem),
    calc(100% - 0.25rem) calc(2rem + 0.1rem),
    calc(100% - 2rem - 0.1rem) 0.25rem,
    0.25rem 0.25rem
  );
  pointer-events: none;
}

/*
.layout__frame::before {
  position: absolute;
  z-index: 1000;
  content: "";
  clip-path: polygon(0 0, calc(100% - 2.00rem) 0, 100% 2.00rem, 100% 100%, 2.00rem 100%, 0 calc(100% - 2.00rem));
  pointer-events: none;
  background: rgba(255, 255, 255, .05);
  zoom: 1;
  inset: 0;
  top: .25rem;
  left: .25rem;
  right: .25rem;
  bottom: .25rem;
  filter: blur(5rem);
}
*/

.layout__content {
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 4.3rem;
  left: 1rem;
  right: 1rem;
  bottom: 3.75rem;
  padding-right: 0.25rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background: transparent;
}

.layout__content--with-navigation {
  left: 3.6rem;
}

.layout__content--with-navigation-overlayed,
.layout__content--with-navigation.layout__content--with-navigation-overlayed {
  left: 0;
}

.layout__content--with-inspector {
  width: calc(100% - 25rem);
}

.layout__inspector {
  width: 19.7rem;
  display: inline-block;
  top: 4.3rem;
  right: 1rem;
  bottom: 3.75rem;
  position: fixed;
  animation: inspector-slide-in-animation 0.25s ease-in-out;
  padding-right: 0.25rem;
}

@keyframes inspector-slide-in-animation {
  from {
    right: -21rem;
  }
  to {
    right: 1rem;
  }
}

.layout__inspector p {
  padding: 0 0.5rem;
}
