.tab-panel__container {
  position: relative;
}

.tab-panel__container::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

.tab-panel__container::before {
  content: '';
  position: absolute;
  height: 5rem;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  clip-path: polygon(0 0, calc(100% - 2rem) 0, 100% 2rem, 100% 100%, 0 100%);
  background: linear-gradient(
    to bottom,
    var(--color-primary-5),
    30%,
    transparent
  );
}

.react-tabs__tab-list {
  margin: 0;
  padding: 0;
}
.react-tabs__tab-list:after {
  content: '';
  position: relative;
  display: block;
  box-shadow: inset 0 -1px var(--color-primary-5);
  border-bottom: 0.25rem solid var(--color-primary-5);
  width: 100%;
  z-index: 100000;
}

.react-tabs__tab-list:after {
  /* position: absolute;
  display: block;
  left: 0;
  width: calc(100% - .25rem);
  content: '';
  height: 2.19rem;
  background: var(--color-primary-5);
  z-index: 1; */
}

.react-tabs__tab {
  display: inline-block;
  position: relative;
  top: 0.05rem;
  text-transform: uppercase;
  font-family: 'Jura', sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 2rem;
  padding: 0 0.5rem;
  margin-bottom: 0;
  margin-right: 0.5rem;
  margin-left: 1rem;
  z-index: 1;
  outline: none;
}

.react-tabs__tab::before {
  position: absolute;
  display: inline-block;
  left: -0.98rem;
  width: 1rem;
  height: 100%;
  content: '';
  z-index: -1;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.react-tabs__tab::after {
  position: absolute;
  display: inline-block;
  right: -0.98rem;
  width: 1rem;
  height: 100%;
  content: '';
  z-index: -1;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.react-tabs__tab,
.react-tabs__tab::before,
.react-tabs__tab::after {
  background: var(--color-primary-2);
  color: var(--color-primary-5);
}

.react-tabs__tab:hover:not(.react-tabs__tab--selected),
.react-tabs__tab:hover:not(.react-tabs__tab--selected)::before,
.react-tabs__tab:hover:not(.react-tabs__tab--selected)::after {
  background: var(--color-primary-4);
  color: var(--color-primary-0);
  z-index: 2;
}

.react-tabs__tab.react-tabs__tab--selected,
.react-tabs__tab.react-tabs__tab--selected::before,
.react-tabs__tab.react-tabs__tab--selected::after {
  background: var(--color-primary-5);
  color: var(--color-primary-0);
  z-index: 3;
}

.tab-badge {
  border-radius: 2rem;
  background: var(--color-primary-3);
  color: var(--color-text);
  padding: 0.15rem 0.3rem;
  line-height: 0.8rem;
  font-size: 0.9rem;
  position: relative;
  top: -0.15rem;
  left: 0.25rem;
  z-index: 4;
}

.react-tabs__tab-panel {
  position: relative;
  z-index: 2;
}
